<div class="dashboard-container" *ngIf="userData; else errorBlock">
  <div class="top-row">
    <div class="user-details">
      <h3>First Name: {{ userData.firstName }}</h3>
      <h3>Last Name: {{ userData.lastName }}</h3>
      <p><strong>Age:</strong> {{ userData.age }}</p>
    </div>

    <img *ngIf="userData.profileImageBase64"
      [src]="'data:image/jpeg;base64,' + userData.profileImageBase64"
      alt="Profile Image"
      class="profile-image" />
  </div>

  <button (click)="logout()">Logout</button>
</div>

<ng-template #errorBlock>
  <div class="error-message">
    {{ errorMessage }}
  </div>
</ng-template>
