body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
  background-color: #111;
  color: #111;
}
/* You can add global styles to this file, and also import other style files */
